body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    text-align: center;
}

h1 {
    text-align: center;
    text-shadow: #000000;
    margin-bottom: 20px;
    color: #f80000;
    font-size: 24px;
    font-weight: bold;
}

img {
    text-align: center;
    justify-self: center;
    
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000000;
}

input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ff2600;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23ced4da' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

button {
    background-color: #f54519;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000;
}

a {
    color: #b9260c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #ff0000;
}
